In [1]:
import pandas as pd
import numpy as np

In [8]:
data=pd.read_csv("/Users/jacksonsunny29/Documents/MLDAL/program-1/lab1.csv")

In [9]:
data

     sky  temp humidity    wind water forecast enjoy
0  sunny  warm   normal  strong  warm     same   Yes
1  sunny  warm     high  strong  warm     same   Yes
2  rainy  cold     high  strong  warm   change    No
3  sunny  warm     high  strong  cool     same   Yes

In [10]:
d=np.array(data)[:,:-1]

In [11]:
d

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'same']], dtype=object)

In [12]:
target=np.array(data)[:,-1]

In [13]:
target

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [16]:
def train(c,t):
    for i, val in enumerate(t):
        if val=="Yes":
           specific_hypothesis=c[i].copy()
           break
    for i, val in enumerate(c):
        if t[i]=="Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x]='?'
                else:
                    pass
    return specific_hypothesis

In [17]:
print("the  final hypothesis is :",train(d,target))

the  final hypothesis is : ['sunny' 'warm' '?' 'strong' '?' 'same']